h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/') 
                    +navTemaItem('1', 'Técnicas de selección de ideas', 'main.html#page/Tecnicas_de_seleccion_de_ideas/')
                    +navTemaItem('2', 'Diagnóstico del mercado', 'main.html#page/Diagnostico_del_mercado/')
                    +navTemaItem('3', 'Tratados de libre comercio (TLC)', 'main.html#page/Tratados_de_libre_comercio_(TLC)/')
                    +navTemaItem('4', 'Introducción al plan de mercadeo', 'main.html#page/Introduccion_al_plan_de_mercadeo/')