.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Canal de distribución:
            | Camino seguido por el producto, a través de los intermediarios; va desde el productor al consumidor final.
        p
            strong.mr-2 Ciclo de vida del producto:
            | Trayectoria que sigue un producto desde su concepción hasta su eliminación de la línea. Las etapas incluyen: introducción, crecimiento, madurez y declinación.
        p
            strong.mr-2 Clientes:
            | Quienes compran los productos o servicios.
        p
            strong.mr-2 Competidores:
            | Otras empresas que participan en el mercado con productos y/o servicios similares.      
        p
            strong.mr-2 Consumidor:
            |  Persona que compra productos de consumo. En mercadeo se aplica a todo comprador.         
        p
            strong.mr-2 Cortapisas:
            |  Barrera o restricción para realizar una acción.          
        p
            strong.mr-2 Costo de vida:
            |   Representa el valor o coste de los bienes y servicios que los hogares consumen para obtener determinado nivel de satisfacción.         
        p
            strong.mr-2 Demanda:
            |  La cantidad de bienes y servicios que son adquiridos por consumidores a diferentes precios, o de una unidad de tiempo específico.          
        p
            strong.mr-2 Devaluación de la moneda:
            |   Es la pérdida del valor de una moneda de un país frente a otras monedas extranjeras.     
        p
            strong.mr-2 Economía de escala:
            | El poder que tiene una empresa cuando alcanza un ritmo óptimo de producción para ir produciendo más a menor coste, puesto que a medida que la producción en una empresa crece, sus costes por unidad producida se reducen.       
        p
            strong.mr-2 Elasticidad de la oferta:
            | Es un indicador usado en economía para expresar la capacidad de respuesta o flexibilidad de la cantidad ofertada de un producto o servicio, frente a un cambio de su precio.
        p
            strong.mr-2 Ingreso per cápita:
            |  Es un cálculo que se realiza para determinar el ingreso que recibe, en promedio, cada uno de los habitantes de un país; es decir, en promedio, cuánto es el ingreso que recibe una persona para subsistir. Este cálculo se obtiene dividiendo el ingreso nacional entre la población total de un país.  
        p
            strong.mr-2 Entorno:
            | Se puede definir como el conjunto de fuerzas directas e indirectas, controlables e incontrolables, que son susceptibles de ejercer influencia, desde un ámbito microeconómico y macroeconómico, en todas sus acciones, decisiones y resultados.
        p
            strong.mr-2 Macroentorno:
            |  Son todos los factores externos que influyen en la empresa como son: entorno económico, entorno demográfico, entorno legal, entorno tecnológico, entorno ambiental. 
        p
            strong.mr-2 Marketing:
            | Conjunto de actividades destinadas a lograr, con beneficio, la satisfacción del consumidor mediante un producto o servicio.
        p
            strong.mr-2 Mercadeo internacional:
            |   Es la forma en que una empresa extiende sus esfuerzos para incluir mercados en el extranjero, exportando sus productos y/o servicios y adaptándose a las condiciones de la economía global.
        p
            strong.mr-2 Mercado local:
            | En el ámbito geográfico es el espacio más reducido del mercado. Hace referencia a las empresas, emprendimientos y negocios que se encuentran ubicados y desarrollan sus operaciones en veredas, municipios y departamentos.
        p
            strong.mr-2 Mercados:
            | Conjunto de transacciones de procesos o intercambio de bienes o servicios entre individuos.   
        p
            strong.mr-2 Mercados globales:
            | Su origen no es otro que el fenómeno de la globalización. En un mundo tan avanzado como el actual, las empresas operan a nivel mundial, realizando operaciones comerciales que incluyen prácticamente todas las zonas del planeta. 
        p
            strong.mr-2 Mercados internacionales:
            |   Todas aquellas empresas que extienden sus actividades por diversos países, por ende, los compradores potenciales tienen distintas nacionalidades.
        p
            strong.mr-2 Mercados nacionales:
            | Este tipo de mercado extiende sus operaciones hacia los clientes potenciales en todo el país.
        p
            strong.mr-2 Método:
            |   Es un procedimiento ordenado y sistemático que se hace para alcanzar un objetivo.
        p
            strong.mr-2 Método #[i Brainstorming]:
            | Es reconocido porque proporciona la libertad suficiente para resolver problemas, mediante la acumulación de todas las ideas expresadas por los miembros del grupo.
        p
            strong.mr-2 Método de ponderación:
            |  Esta técnica se utiliza para la selección de ideas en equipo, utilizando criterios ponderados para llevarlo a cabo, se debe asignar a cada uno de los criterios una cifra ponderada según la importancia en el proceso de selección, siendo el valor más alto el que se debe tener en cuenta como el correcto o el más indicado.
        p
            strong.mr-2 Método DOFA:
            | Este método de selección le permite realizar un análisis sobre problemas existentes en la organización, su función radica en la identificación de debilidades, oportunidades, fortalezas y amenazas que giran en torno al problema que se quiere solucionar.
        p
            strong.mr-2 Microentorno:
            |  El microambiente es el ambiente más cercano a cada organización y constituye el nicho donde desarrolla sus operaciones, obtiene sus insumos y coloca sus productos y servicios.     
        p
            strong.mr-2 Modorra:
            | Letargo o somnolencia empresarial.
        p
            strong.mr-2 Oferta:
            | La cantidad ofrecida de cualquier bien o servicio, es la cantidad que los vendedores quieren y pueden vender.   
        p
            strong.mr-2 País subdesarrollado:
            | Es aquel que tiene un nivel bajo de Producto Interno Bruto (PIB) per cápita y presenta impedimentos estructurales para su crecimiento económico sostenido.
        p
            strong.mr-2 Países más desarrollados:
            | Se refiere a los países más industrializados y poseen un alto nivel de vida, como son: Estados Unidos, diferentes naciones europeas, Canadá, Australia y Japón.  
        p
            strong.mr-2 Planear:
            | Es la etapa que forma parte del proceso administrativo, mediante la cual se establecen directrices, se definen estrategias y se seleccionan las alternativas y rutas de acción, en función de objetivos y metas generales, económicas, sociales y políticas, tomando en consideración los recursos reales y potenciales que permitan establecer un marco de referencia necesario para concretar programas y acciones específicas en tiempo y espacio, logrando una predicción lo más probable del futuro, para generar planes que puedan garantizar el éxito.
        p
            strong.mr-2 Plantas subsidiarias :
            |  Es aquella que está controlada por una estación más grande llamada matriz. 
        p
            strong.mr-2 Proveedores:
            | Quienes suministran los recursos para la elaboración de un producto o prestación de un servicio.
        p
            strong.mr-2 Rata de cambio:
            | Es el valor de la moneda corriente de un país expresado en la moneda de otro.  
        p
            strong.mr-2 Tasas de crecimiento económico:
            | Es la variación porcentual del PIB (Producto Interno Bruto) real en un período de tiempo determinado, usualmente un año.
        p
            strong.mr-2 Tasa de inflación:
            |  La tasa de inflación refleja el aumento porcentual de los precios en un determinado período de tiempo. 
        p
            strong.mr-2 Tratado de Libre Comercio:
            | Acuerdo comercial existente entre dos o más países, mediante el cual se establecen un conjunto de reglas que les permiten comercializar (comprar y vender) productos y/o servicios entre sí, aumentando los flujos de comercio e inversión.                       