.container#page-introduccion
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white 
      .row
        .col
          
          h2  ¡Bienvenidos!
          img.img-a(src="assets/images/pages/ilustraciones/img1.png", alt="").img-fluid   
          p.mt-5 Los retos para las empresas son cada vez más fuertes debido a que las tendencias del mercado cambian constantemente y la necesidad de innovar crece de manera exponencial.
          p.mt-3 Lograr desarrollar un producto o servicio estrella, requiere tiempo, dedicación y conocimiento, lo cual, contando con múltiples fuentes de información, puede generar confusión a la hora de tomar decisiones. 
          p.mt-3 De allí la importancia de elegir el método de selección de ideas correcto, conociendo sus características, ventajas, desventajas y, sobre todo, adecuándose a las necesidades de investigación que cada empresa requiere realizar. 
