include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Andere, E. y Kessel, G. (1992). México y el tratado trilateral de libre comercio: impacto sectorial. México D.F.: MacGraw-Hill.")
        +referenciaItem("Barón, J. (2002). Las regiones económicas de Colombia: un análisis de clusters.", "http://www.banrep.gov.co/")
        +referenciaItem("Colombia.com. (s.f.) ¿Cuáles son los sectores beneficiados y perjudicados por el TLC?", "http://www.colombia.com")
        +referenciaItem("Dimitri, C. R., & Rodríguez, S. Á. (2009). Planeación estratégica. ProQuest Ebook Central", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Esteban, T. Á. (3a. ed.). (2014). Principios de marketing. ProQuest Ebook Central.", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Fernández, C., Llorente, A. y Pérez, E. (2007). Economía. Madrid, España: EDITEX S.A.")
        +referenciaItem("Fernández, R. (3a. ed.). (2009). Segmentación de Mercados. McGraw-Hill Interamericana.", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=687&pg=20")
        +referenciaItem("Fernández, R. A. (2005). Creatividad e innovación en empresas y organizaciones: técnicas para la resolución de problemas. ProQuest Ebook Central", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Limas, S. S. J. (2012). Marketing empresarial: dirección como estrategia competitiva. ProQuest Ebook Central", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Mankiw, G. (7a. ed.). (2017). Principios de economía. Cengage. Página 75.", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3752&pg=108")
        +referenciaItem("Martínez, S. J. M., & Jiménez, E. (2001). Marketing. ProQuest Ebook Central", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Ministerio de Agricultura y Desarrollo Rural. (2016). Modelo de inteligencia de mercado. Bogotá, Colombia: Impresol Ediciones Ltda.")
        +referenciaItem("Murcia, C. H. H. (2011). Creatividad e innovación para el desarrollo empresarial. ProQuest Ebook Central", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Palacios, A. L. C. (2009). Dirección estratégica. ProQuest Ebook Central", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Palacios, L. (2010). Dirección estratégica. Bogotá, Colombia: D´Vinni Impresos.")
        +referenciaItem("Prettel, G. (2016). Marketing, una herramienta para el crecimiento. Ediciones de la U. Página: 35.", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=5684&pg=35")
        +referenciaItem("ProColombia. (2011). Oferta colombiana en exportaciones", "http://www.procolombia.co")
        +referenciaItem("ProColombia. (s.f.). Inversión en el sector servicios en Colombia.", "http://www.inviertaencolombia.com.co")
        +referenciaItem("Rojas, L. M. D., & Medina, M. L. J. (2011). Planeación estratégica: fundamentos y casos. ProQuest Ebook Central", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Scheeider, F. L., Kimbrell, G., & Woloszyk, C. A. (2001). Mercadeo en el siglo XXI. ProQuest Ebook Central", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Van, D. B. R. É. (2014). Tratados de libre comercio: retos y oportunidades. ProQuest Ebook Central https://ebookcentral-proquest-com.bdigital.sena.edu.co.")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            